
.font-title-max {
  h1{
    font-size: 3rem;
  }
}
.font-title-card{
  font-size: 2.3em;
}
.font-title-card::after {
  content: '';
  display: block;
  width: 150px;
  height: 2px;
  background-color: #ffffff;
  margin: 10px 0;
}

.font-bold{
  font-weight: 600;
}
.font-text-white{
  color: #000;
  p{
    color: #ffffff;
  }
  h1{
    color: #ffffff;
  }
}

.font-text-cinza{
  color: #7f7f7f;
  p{
    color: #7f7f7f;
  }
  h1{
    color: #7f7f7f;
  }
}
.font-text-azul{
  color: #002d54;
  p{
    color: #002d54;
  }
  h1{
    color: #002d54;
  }
}
.font-text-laranja{
  color: #f66201;
  p{
    color: #f66201;
  }
  h1{
    color: #f66201;
  }
}
.font-text-azul-claro{
  color: #07e0f7;
  p{
    color: #07e0f7;
  }
  h1{
    color: #07e0f7;
  }
}