
.servico-conteiner{
  height: 100%;
}

.servico-quem-somos{
  width: 100%;
  height: 75vh;
  //background-color: #f66201;
  //background-image: linear-gradient(#002545, #e7e7e7);
  //background: linear-gradient(#002545 50%, #e7e7e7);
  background-color: #002545;
  position: relative;
  flex-direction: row;
  .font-title-max{
   // margin-top: 5vh;
  }
}
.servico-titulo-empresa{
  //margin-top: 5vh;
}
.servico-quem-somos-card{
  height: 40vh;
  text-align: center;
  border: solid 1px rgba(196, 196, 196, 0.89);
  position: relative;
}
.servico-quem-somos-content{
  position: absolute;
  left: 0;
  bottom: -15%;
  width: 100%;
  height: auto;
}
.servico-quem-somos-header{
  width: 90px;
  height: 90px;
  //border-radius: 100px;
  border-radius: 90px;
  border: solid #ffffff 1px;
  background-color: #ffffff;
  transition: all .5s;
  margin: 0 auto;
  //transform: rotate(45deg);
  &:hover{
    cursor: pointer;
    transform: rotate(360deg);
  }
}
.servico-quem-somos-img{
  background-image: url("../imagens/icon-logo.png");
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
  width: 90px;
  height: 90px;
  opacity: .85;
  animation-name: treme-logo;
  animation: treme-logo 4s linear infinite, tempo 4s infinite;
  -moz-animation: treme-logo 4s linear infinite, tempo 4s infinite;
  -webkit-animation: treme-logo 4s linear infinite, tempo 4s infinite;
}


.servico-section-divisor{
  background-color: #e7e7e7;
  margin-bottom: 0!important;

}
.servico-traco-divisor{
  height: 4px;
  background-color: #002545;

}
/***Financiamentos***/
.financiamento{
  width: 100%;
  height: 80vh;
  background-color: #f6f6f6;
  position: relative;
}
.servico-title-conteiner{
  height: 15vh;
}
.servico-title{
  text-align: center;
}
.servico-finan-traco{
  margin-top: 20px;
  width: 150px;
  height: 5px;
  background-color: #ffffff;
}
.servico-slider-card{
  position: relative;
  display: block;
  max-height: 50vh!important;
  min-height: 50vh!important;
  .default-botao-saiba-mais{
    bottom: 15%;
    left: 40px;
  }
}
.servico-slider-card-conteudo{
  padding: 20px 30px 30px 30px;
  height: 100%;
}
.servico-topicos{
  margin: 3vh 4vh;
  p{
    line-height: 1.1;
    line-break: auto;
    //margin: 10px 0;
    padding: 5px;
    font-size: 1.3em;
    font-weight: 300;
  }
}
.finan-card {
  display: none;
}
.servico-card-slider-botoes{
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  margin: 0 auto 25px;
}

.servico-slider-image-card{
  width: 100%;
  height: 100%;
  position: relative;
}
.servico-slider-card-conteiner-img{
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
  -moz-background-size: contain;
  width: 100%;
  //background-color: #002d54;
  height: 300px;
}

.servico-finan-img1{
  background-image: url("../imagens/familia-MCMV.png");
}
.servico-finan-img2{
  background-image: url("../imagens/construcao-terreno-proprio.png");
}
.servico-finan-img3{
  background-image: url("../imagens/aquisicao-terreno-construcao.png");
}


/******** Seguros de vida ********/
.servico-seguro{
  @extend .servico-section-blue;
  height: 60vh;
  //background-color: #002545;
}
.servico-conteiner-card{
  position: relative;
  height: 100%;
}

.servico-card{
  position: relative;
  min-height: 300px!important;
  background-color: rgba(4,42,84, .7);
}
.servico-emprestimo-card{
  background-color: rgba(4,42,84, .7);
}
.servico-seguro-card-conteudo{
  padding: 20px 30px 40px;
  min-height: 300px;
  position: relative;
}
.servico-cont-imagem{
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.servico-seguro-imagem{
  background-image: url("../imagens/seguro-de-vida.png");
}
.servico-emprestimo-imagem{
  background-image: url("../imagens/emprestimo-mulher.png");
}
.servico-consignado-imagem{
  background-image: url("../imagens/emprestimo-consignado.png");
}
.servico-contas-imagem{
  background-image: url("../imagens/homem-cartao-caixa.png");
}
.servico-imagem{
  display: flex;
  height: 90%;
  position: absolute;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
}
/****** Emprestimo *****/
.servico-section-blue{
  background-image: linear-gradient(#002545, #0178f3);
  //background-image: linear-gradient(#002545, #ffffff);
  position: relative;
}
.servico-emprestimo{
  @extend .servico-section-blue;
  //background-image: linear-gradient(#002545, #0178f3);
  height: 60vh;
  position: relative;
}

/******* Consorcio *******/
.servico-consorcio{
  position: relative;
  height: 80vh;
  width: 100%;
  //background-image: linear-gradient(#f66201 5%, #eeeeee );
  background-color: #f6f6f6;
  .default-botao-saiba-mais{
    background-color: #002d54;
    color: #ffffff;
    border: 1.5px solid #002d54;
    &:hover{
      background-color: #f66201;
    }
  }
}
.servico-titulo-consorcio{
  height: 15vh;
}
.servico-consorcio-title{
  text-align: center;

}
.servico-consorcio-conteiner-card{
  height: 100%;
}
.servico-consorcio-card{
  height: 60vh;
  background-color: rgba(246, 98, 1, .7);
}
.servico-slider-card-conteiner-img{
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
  width: 100%;
  //background-color: #002d54;
  height: 300px;
}
.servico-slider-card-conteiner-img::after{
  content: '';
  width: 100%;
  height: 2px;
  background-color: #f66201;
  margin: 300px auto;
  display: block;
}
.servico-consor-img1{
  background-image: url("../imagens/consorcio-imovel.png");
}
.servico-consor-img2{
  background-image: url("../imagens/consorcio-auto.png");
}


/**** Espaço branco *****/
.servico-espaco-sessao{
  width: 100%;
  height: 25vh;
  background-color: #eeeeee;
}


/********** Contato ********/
.servico-contato{
  position: relative;
  height: 90vh;
  background-color: #eeeeee;
  display: block;
}
.servico-titulo-contato{
  height: 15vh;
  p{
    text-align: center;
    font-weight: 400;
  }
}
.servico-titulo-traco-blue::after{
  content: '';
  width: 150px;
  height: 4px;
  background-color: #002d54;
}
.servico-titulo-traco-laranja::after{
  content: '';
  width: 150px;
  height: 4px;
  background-color: #f66201;
}

.servico-contato-conteiner-cards{
  height: 55vh;
}
.servico-contato-cards{
  position: relative;
  background-color: #ffffff;
  height: 100%;
  margin-right: 5px;
  transition: all .2s;
}
.servico-contato-card-conteudo{
  padding: 20px;
  height: 100%;

}

.servico-contato-topicos{
  margin-top: 5vh;
  p{
    margin: 20px 0;
    font-size: 1.2em;
    font-weight: 400;
  }
}
.servico-contato-topicos > div:last-child{
  margin-top: 10vh;
}
.servico-contato-fale-conosco:hover {
  background-color: #002d54;
  cursor: pointer;
  h1{
    color: #ffffff;
  }
  p{
    color: #ffffff;
  }
  .servico-titulo-traco-laranja::after{
    background-color: #ffffff;
  }
  .servico-titulo-traco-blue::after{
    background-color: #ffffff;
  }
}
.servico-contato-financiamento:hover{
  background-color: #f66201;
  cursor: pointer;
  h1{
    color: #ffffff;
  }
  p{
    color: #ffffff;
  }
}
.servico-contato-footer-card{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
}
.servico-contato-footer{
  height: 10vh;
  p{
    text-align: center;
    font-weight: 600;
  }
}

/****** Formulários e modal *******/
.servicos-formulario{
 /* width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,.5);
  top: 0;
  left: 0;
  z-index: 99;*/
}