.servico-quem-somos{
  width: 100%;
  height: 75vh;
  //background-color: #f66201;
  //background-image: linear-gradient(#002545, #e7e7e7);
  //background: linear-gradient(#002545 50%, #e7e7e7);
  background-color: #002545;
  position: relative;
  flex-direction: row;
  .font-title-max{
   // margin-top: 5vh;
  }
}
.servico-titulo-empresa{
  //margin-top: 5vh;
}
.servico-quem-somos-card{
  height: 40vh;
  text-align: center;
  border: solid 1px rgba(196, 196, 196, 0.89);
  position: relative;
}
.servico-section-divisor{
  background-color: #e7e7e7;
  margin-bottom: 0!important;

}
.servico-traco-divisor{
  height: 4px;
  background-color: #002545;

}
/***Financiamentos***/
.financiamento{
  width: 100%;
  height: 80vh;
  background-color: #f6f6f6;
  position: relative;
}
.servico-title-conteiner{
  height: 15vh;
}
.servico-title{
  text-align: center;
}
.servico-finan-traco{
  margin-top: 20px;
  width: 150px;
  height: 5px;
  background-color: #ffffff;
}
.servico-card-slide{
  height: 55vh;
}
.servico-slider-card{
  position: relative;
  display: block;
  height: 100%;
}
.servico-slider-card-conteudo{
  padding: 30px;
  height: 100%;
}
.servico-topicos{
  margin: 4vh;
  p{
    margin: 20px 0;
    font-size: 1.4em;
    font-weight: 300;
  }
}
.finan-card {
  display: none;
}
.servico-card-slider-botoes{
  position: absolute;
  left: 0;
  bottom: 10%;
  height: 30px;
  width: 100%;
  margin-top: 0;
}
.servico-slider-image-card{
  width: 100%;
  height: 100%;
}
.servico-slider-card-conteiner-img{
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
  width: 100%;
  //background-color: #002d54;
  height: 300px;
}
.servico-slider-card-conteiner-img::after{
  content: '';
  width: 100%;
  height: 2px;
  background-color: #002545;
  display: block;
  margin: 300px auto;
}
.servico-finan-img1{
  background-image: url("../imagens/familia-MCMV.png");
}
.servico-finan-img2{
  background-image: url("../imagens/construcao-terreno-proprio.png");
}
.servico-finan-img3{
  background-image: url("../imagens/aquisicao-terreno-construcao.png");

}

.servico-quem-somos-header{
  width: 90px;
  height: 90px;
  //border-radius: 100px;
  border-radius: 80px;
  border: solid #ffffff 1px;
  position: absolute;
  bottom: -15%;
  background-color: #ffffff;
  transition: all .5s;
  //transform: rotate(45deg);
  &:hover{
    cursor: pointer;
    transform: rotate(360deg);
  }
}
.servico-quem-somos-img{
  background-image: url("../imagens/icon-logo.png");
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
  width: 90px;
  height: 90px;
  opacity: .85;
  //transform: rotate(-45deg);
}

/******** Seguros de vida ********/
.servico-seguro{
  @extend .servico-section-blue;
  height: 55vh;
  //background-color: #002545;
}
.servico-conteiner-card{
  height: 100%;
}
.servico-card{
  height: 40vh;
  background-color: rgba(4,42,84, .7);
}
.servico-emprestico-card{
  height: 50vh;
  background-color: rgba(4,42,84, .7);
}
.servico-seguro-traco{
  margin-top: 20px;
  width: 150px;
  height: 5px;
  background-color: #07e0f7;
}
.servico-seguro-card-conteudo{
  padding: 30px;
}
.servico-cont-imagem{
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.servico-seguro-imagem{
  background-image: url("../imagens/seguro-de-vida.png");
}
.servico-emprestimo-imagem{
  background-image: url("../imagens/emprestimo-mulher.png");
}
.servico-contas-imagem{
  background-image: url("../imagens/homem-cartao-caixa.png");
}
.servico-imagem{
  display: flex;
  height: 90%;
  position: absolute;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
}
/****** Emprestimo *****/
.servico-section-blue{
  background-image: linear-gradient(#002545, #0178f3);
  //background-image: linear-gradient(#002545, #ffffff);
  position: relative;
}
.servico-emprestimo{
  @extend .servico-section-blue;
  //background-image: linear-gradient(#002545, #0178f3);
  height: 60vh;
}

/******* Consorcio *******/
.servico-consorcio{
  height: 80vh;
  width: 100%;
  background-image: linear-gradient(#f66201 5%, #eeeeee );
}
.servico-titulo-consorcio{
  height: 15vh;
}
.servico-consorcio-title{
  text-align: center;

}
.servico-consorcio-conteiner-card{
  height: 100%;
}
.servico-consorcio-card{
  height: 60vh;
  background-color: rgba(246, 98, 1, .7);
}
.servico-consorcio-card-conteudo{
  padding: 30px;
  height: 100%;
  position: relative;
}
.servico-slider-card-conteiner-img{
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
  width: 100%;
  //background-color: #002d54;
  height: 300px;
}
.servico-slider-card-conteiner-img::after{
  content: '';
  width: 100%;
  height: 2px;
  background-color: #f66201;
  display: block;
  margin: 300px auto;
}
.servico-consor-img1{
  background-image: url("../imagens/consorcio-imovel.png");
}


/**** Espaço branco *****/
.servico-espaco-sessao{
  width: 100%;
  height: 25vh;
  background-color: #eeeeee;
}


/********** Contato ********/
.servico-contato{
  position: relative;
  height: 90vh;
  background-color: #eeeeee;
  display: block;
}
.servico-titulo-contato{
  height: 15vh;
  p{
    text-align: center;
    font-weight: 400;
  }
}
.servico-contato-conteiner-cards{
  height: 55vh;
}
.servico-contato-cards{
  position: relative;
  background-color: #ffffff;
  height: 100%;
  margin-right: 5px;
  transition: all .2s;
}
.servico-contato-card-conteudo{
  padding: 20px;
  height: 100%;

}
.servico-contato-traco{
  margin-top: 20px;
  width: 100px;
  height: 5px;
}
.servico-contato-topicos{
  margin-top: 5vh;
  p{
    margin: 20px 0;
    font-size: 1.2em;
    font-weight: 400;
  }
}
.servico-contato-topicos > div:last-child{
  margin-top: 10vh;
}
.servico-contato-fale-conosco:hover {
  background-color: #002d54;
  cursor: pointer;
  h1{
    color: #ffffff;
  }
  p{
    color: #ffffff;
  }
  .servico-contato-traco{
   background-color: #ffffff;
  }
  .font-title-card::after{
    background-color: #f66201;
  }
}
.servico-contato-financiamento:hover{
  background-color: #f66201;
  cursor: pointer;
  h1{
    color: #ffffff;
  }
  p{
    color: #ffffff;
  }

  .servico-contato-traco{
    background-color: #ffffff;
  }
  .font-title-card::after{
    background-color: #f66201;
  }
}
.servico-contato-footer-card{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
}
.servico-contato-footer{
  height: 10vh;
  p{
    text-align: center;
    font-weight: 400;
  }
}